@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Noto+Sans:wght@700&family=Source+Sans+Pro&display=swap');
$NotoSans:"Noto Sans";

.NotoSans{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}
